* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #A13333;
    font-size: 24px;
}

h1 {
    text-align: center;
    font-size: 48px;
    color: #040303;
}

h2 {
    text-align: left;
    font-size: 48px;
    color: #040303;
}

h3 {
    text-align: left;
    font-size: 36px;
    color: #461111;
}


a {
    color: #B3541E;
    text-decoration-line: none;
}

img {
    height: 300px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}